CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_redmi_ax6=y
CONFIG_TARGET_MULTI_PROFILE=n
CONFIG_TARGET_ALL_PROFILES=n

CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_TARGET_ROOTFS_UBI=y
CONFIG_MTD_UBI=y
CONFIG_MTD_UBI_FASTMAP=y

CONFIG_PACKAGE_kmod-ath11k-ahb=y
CONFIG_PACKAGE_ath11k-firmware-ipq8071=y
CONFIG_PACKAGE_ath11k-firmware-ipq8074=y
CONFIG_PACKAGE_ipq-wifi-redmi_ax6=y

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-store=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_LUCI_LANG="zh-cn"

CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_block-mount=y

CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_DEBUG=n
